body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(18, 101, 18);
  color: white;
}

.header {
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  margin-bottom: 0;
  gap: 0.5rem;
}

.header img {
  width: 150px;
  height: 150px;
}

.header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 span {
  font-size: 1rem;
}

.search-container {
  margin-top: 0;
  margin-bottom: 1rem;
}

.search-input {
  border-radius: 0.2rem;
  padding: 0.4rem 0.7rem;
  width: 13rem;
  border: none;
  background-color: black;
  color: white;
}

.search-input:placeholder-shown {
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.search-input::placeholder {
  color: white;
  opacity: 0.6;
}

.search-btn {
  width: 5rem;
  border-radius: 0.3rem;
  background-color: rgb(25, 195, 25);
  color: black;
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  border: none;
  font-family: 'Trebuchet MS', sans-serif;
}

.search-btn:hover {
  background-color: black;
  color: rgb(25, 195, 25);
}

.list-surahs {
  display: grid;
  grid-template-columns: 180px 180px;
  justify-content: center;
}

.surah-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(238, 232, 232);
}

.surah-container:nth-child(4n-3),
.surah-container:nth-child(4n) {
  background-color: rgb(207, 186, 153);
}

.surah-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: white;
  background: black;
  border-radius: 50%;
}

.ayahs {
  width: 450px;
  font-family: 'Noto Naskh Arabic', serif;
  font-size: 1.5rem;
  margin: 4rem auto;
}

.ayah {
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

.ayah:nth-child(odd) {
  background-color: white;
  color: black;
}

.ayah:nth-child(even) {
  background-color: black;
  color: white;
}

.details {
  text-align: center;
  margin: 0 auto;
}

.details button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: white;
  position: relative;
  right: 24%;
}

.details h2 {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Naskh Arabic', serif;
}

.details h2 span {
  font-weight: 300;
  font-size: 1rem;
}

.loading {
  text-align: center;
  font-size: 3rem;
  line-height: 80vh;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container h2 {
  font-size: 2rem;
  color: black;
}

.error-container p {
  color: red;
}

.visually-hidden {
  display: none;
}
