body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right, rgb(24, 182, 103), rgb(29, 171, 128));
  color: white;
}

.header {
  /* max-width: 450px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  margin-bottom: 0;
  gap: 0.5rem;
}

.header img {
  width: 9.5em;
  height: 9.5em;
}

.header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 span {
  font-size: 1rem;
}

.search-container {
  margin-top: 0;
  margin-bottom: 1rem;
}

.search-input {
  border-radius: 0.2rem;
  padding: 0.4rem 0.7rem;
  width: 13rem;
  border: none;
  background-color: black;
  color: white;
}

.search-input:placeholder-shown {
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-input::placeholder {
  color: white;
  opacity: 0.6;
}

.search-btn {
  width: 5rem;
  border-radius: 0.3rem;
  background-color: rgb(25, 195, 25);
  color: black;
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  border: none;
  font-family: 'Trebuchet MS', sans-serif;
}

.search-btn:hover {
  background-color: black;
  color: rgb(25, 195, 25);
}

.list-surahs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 0.5rem;
}

.surah-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, rgb(28, 216, 122), rgb(28, 216, 160));
  font-family: 'Noto Naskh Arabic', serif;
}

.surah-container:nth-child(4n-3),
.surah-container:nth-child(4n) {
  background-image: linear-gradient(to top, rgb(24, 182, 103), rgb(29, 171, 128));
}

.surah-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  color: black;
  font-size: 1.3rem;
  background-image: linear-gradient(to top, aqua, rgb(42, 222, 42));
  border-radius: 50%;
  box-shadow: 0 0 7px 2px rgb(10, 98, 5);
  text-shadow: 1px 0 15px rgb(0, 0, 0);
}

.ayahs {
  /* width: 450px; */
  font-family: 'Noto Naskh Arabic', serif;
  font-size: 1.5rem;
  margin: 4rem auto;
  padding: 0.5rem;
}

.ayah {
  text-align: right;
  padding: 0.5rem;
  padding-right: 1rem;
  margin: 0;
  font-size: 1.5em;
}

.ayah:nth-child(odd) {
  background-color: white;
  color: black;
}

.ayah:nth-child(even) {
  background-color: black;
  color: white;
}

.details {
  text-align: center;
  margin: 0 auto;
}

.details button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.7rem;
  color: white;
  position: absolute;
  top: 1%;
  left: 0;
}

.details h2 {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Naskh Arabic', serif;
}

.details h2 span {
  font-weight: 300;
  font-size: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  margin-top: 5rem;
  width: 8rem;
  height: 8rem;
  border: 0.8rem solid aqua;
  border-radius: 50%;
  border-right-color: rgb(27, 194, 12);
  animation: load 1s ease-in-out infinite;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-container h2 {
  font-size: 2rem;
  color: black;
}

.error-container p {
  color: red;
}

.visually-hidden {
  display: none;
}

@keyframes load {
  0% {
    border-right-color: rgb(27, 194, 12);
  }

  50% {
    border-right-color: rgb(197, 90, 23);
  }

  100% {
    transform: rotate(360deg);
    border-right-color: rgb(221, 214, 18);
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 30px;
  }

  .ayah {
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 40px;
  }

  .ayah {
    font-size: 2.5em;
  }
}
